{% extends 'base.html' %}

{% block title %}API{% endblock %}

{% block content %}

<header class="d-flex pt-5">
    <div class="container text-center align-content-end">
        <h1 class="mb-2">API</h1>
        <h2>
            <em>Query for book details and reviews programmatically via website’s API</em>
        </h2>
    </div>
</header>

<section class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h3>
                    API Access:
                </h3>
                <p>
                    You can make a GET requests from adress <code>/api/&lt;isbn&gt;</code> route, where <code>&lt;isbn&gt;</code> is an ISBN number. It will return a JSON response containing the book’s title, author, publication date, ISBN number, review count, and average score.</p>
                <p>
                    In format like in example below:
                </p>
                <p>
                    <code>{<br>
                        "average_score": 5.0<br>
                        "author": "Doug Lloyd"<br>
                        "isbn": "1632168146"<br>
                        "review_count": 28<br>
                        "title": "Memory"<br>
                        "year": 2015<br> 
                        }
                    </code>
                </p>
                <div class="row">
                    <div class="col m-5">
                        <a class="btn btn-dark btn-xl m-3" href="{{ url_for('books.search') }}">Search books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}