{% extends 'base.html' %}

{% block header %}
<p><a href="{{ url_for('books.search') }}">Search again</a></p>
<h2>{% block title %}Book details{% endblock %}</h2>
{% endblock %}

{% block content %}

<ul>
    <li>Title: {{ book.title }}</li>
    <li>Author: {{ book.author }}</li>
    <li>Year: {{ book.publication }}</li>
</ul>

<h3>Data from Goodreads:</h3>
{% if resGoodreads['work_ratings_count'] %}
<p>Average rating: {{ resGoodreads['average_rating'] }}</p>
<p>Number of ratings: {{ resGoodreads['work_ratings_count'] }}</p>
{% else %}
<p>No data.</p>
{% endif %}

<h3>Reviews:</h3>
{% if user > 0 %}
<p>You already reviewed this book.</p>
{% else %}
<p>Add review:</p>
<form action="{{ url_for('books.add_review', isbn=book['isbn'], book_id=book['id']) }}" method='post'>
    <label for="rating">Rating</label>

    <label for="1">1</label>
    <input type="radio" id="1" name="rating" value="1" checked>
    <label for="2">2</label>
    <input type="radio" id="2" name="rating" value="2">
    <label for="3">3</label>
    <input type="radio" id="3" name="rating" value="3">
    <label for="4">4</label>
    <input type="radio" id="4" name="rating" value="4">
    <label for="5">5</label>
    <input type="radio" id="5" name="rating" value="5">
    <hr>
    <label for="review">Review</label>
    <input name="review" name="review" id="review">
    <input type="submit" value="Submit">
</form>
{% endif %}

<ul>
    {% for review in reviews %}
    <li>{{ review.rating }}</li>
    <li>{{ review.review }}</li>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% else %}
    <p>No reviews yet.</p>
    {% endfor %}
</ul>
{% endblock %}