{% extends 'base.html' %}

{% block title %}Book details{% endblock %}

{% block content %}

<header class="d-flex pt-5">
    <div class="container text-center align-content-end">
        <h1 class="mb-2">Book details</h1>
        <h2>
            <em>Info, ratings, reviews</em>
        </h2>
    </div>
</header>

<section class="content-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6">
                <h3>Book info</h3>
                <table class="table">
                    <tr>
                        <th scope="row">Title</th>
                        <td>{{ book.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Author</th>
                        <td>{{ book.author }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td>{{ book.publication }}</td>
                    </tr>
                    <tr>
                        <th class="table-light" scope="col" colspan="2">Data from Goodreads&reg;:</th>
                    </tr>

                    {% if resGoodreads['work_ratings_count'] %}

                    <tr>
                        <th scope="row">Average rating</th>
                        <td>{{ resGoodreads['average_rating'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Number of ratings</th>
                        <td>{{ resGoodreads['work_ratings_count'] }}</td>
                    </tr>

                    {% else %}
                    <tr>
                        <td>No data</td>
                    </tr>
                    {% endif %}
                </table>
                <p><a href="{{ url_for('books.search') }}">Search again</a></p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <h3 class="p-3 bg-light">Reviews</h3>
                <h4>Add review:</h4>
                {% if user > 0 %}
                <p>You already reviewed this book.</p>
                {% else %}
                <form action="{{ url_for('books.add_review', isbn=book['isbn'], book_id=book['id']) }}" method='post'>
                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Rating (1-5)</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="1" name="rating" value="1" checked>
                                    <label class="form-check-label" for="1"> 1</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="2" name="rating" value="2">
                                    <label class="form-check-label" for="2"> 2</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="3" name="rating" value="3">
                                    <label class="form-check-label" for="3"> 3</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="4" name="rating" value="4">
                                    <label class="form-check-label" for="4"> 4</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="5" name="rating" value="5">
                                    <label class="form-check-label" for="5"> 5</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="review" class="col-sm-2 col-form-label">Review</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="review" id="review" placeholder="Write review" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>

                {% endif %}
                
                <h4>Reviews sent:</h4>
                <div class="card-deck">
                    {% for review in reviews %}
                    <div class="card bg-light mb-3">
                        <div class="card-header">
                            Rating: {{ review.rating }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ review.review }}</p>
                                <footer class="blockquote-footer">{{ review.name }}</footer>
                            </blockquote>
                        </div>
                    </div>
                    {% else %}
                    <p>No reviews yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}